local.properties

### CI/CD ###
run.sh
*~
local.yml
config/production.yml
config/federated.yml
config/staging.yml
config/testing.yml
service/config/production.yml
service/config/federated.yml
service/config/staging.yml
service/config/testing.yml
.opsmanage
put.sh

/**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
/**/.apt_generated
/**/.classpath
/**/.factorypath
/**/.project
/**/.settings
/**/.springBeans
/**/.sts4-cache

### IntelliJ IDEA ###
/**/.idea
/**/*.iws
/**/*.iml
/**/*.ipr

### NetBeans ###
/**/nbproject/private/
/**/nbbuild/
/**/dist/
/**/nbdist/
/**/.nb-gradle/
/**/build/

### VS Code ###
/**/.vscode/
