openapi: 3.0.1
info:
  title: Signal Server API
  license:
    name: AGPL-3.0-only
    url: https://www.gnu.org/licenses/agpl-3.0.txt
servers:
- url: https://chat.signal.org
  description: Production service
- url: https://chat.staging.signal.org
  description: Staging service
paths:
  /v1/accounts/account/{identifier}:
    head:
      tags:
      - Account
      summary: Check whether an account exists
      description: |
        Enforced unauthenticated endpoint. Checks whether an account with a given identifier exists.
      operationId: accountExists
      parameters:
      - name: identifier
        in: path
        description: An ACI or PNI account identifier to check
        required: true
        schema:
          $ref: "#/components/schemas/ServiceIdentifier"
      responses:
        "200":
          description: An account with the given identifier was found.
        "400":
          description: Request must not be authenticated.
        "404":
          description: An account was not found for the given identifier.
        "422":
          description: Invalid request format.
        "429":
          description: Rate-limited.
      security:
      - authenticatedAccount: []
      - {}
  /v1/accounts/username_hash/confirm:
    put:
      tags:
      - Account
      summary: Confirm username hash
      description: |
        Authenticated endpoint. For a previously reserved username hash, confirm that this username hash is now taken
        by this account.
      operationId: confirmUsernameHash
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmUsernameHashRequest"
        required: true
      responses:
        "200":
          description: Username hash confirmed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsernameHashResponse"
        "401":
          description: Account authentication check failed.
        "409":
          description: Given username hash doesn't match the reserved one or no reservation
            found.
        "410":
          description: Username hash not available (username can't be used).
        "422":
          description: Invalid request format.
        "429":
          description: Ratelimited.
      security:
      - authenticatedAccount: []
  /v1/accounts/me:
    delete:
      tags:
      - Account
      operationId: deleteAccount
      responses:
        default:
          description: default response
          content:
            '*/*': {}
      security:
      - authenticatedAccount: []
  /v1/accounts/apn:
    put:
      tags:
      - Account
      operationId: setApnRegistrationId
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApnRegistrationId"
        required: true
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - authenticatedAccount: []
    delete:
      tags:
      - Account
      operationId: deleteApnRegistrationId
      responses:
        default:
          description: default response
          content:
            '*/*': {}
      security:
      - authenticatedAccount: []
  /v1/accounts/gcm:
    put:
      tags:
      - Account
      operationId: setGcmRegistrationId
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GcmRegistrationId"
        required: true
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - authenticatedAccount: []
    delete:
      tags:
      - Account
      operationId: deleteGcmRegistrationId
      responses:
        default:
          description: default response
          content:
            '*/*': {}
      security:
      - authenticatedAccount: []
  /v1/accounts/username_hash:
    delete:
      tags:
      - Account
      summary: Delete username hash
      description: |
        Authenticated endpoint. Deletes previously stored username for the account.
      operationId: deleteUsernameHash
      responses:
        "204":
          description: Username successfully deleted.
        "401":
          description: Account authentication check failed.
      security:
      - authenticatedAccount: []
  /v1/accounts/username_link:
    put:
      tags:
      - Account
      summary: Set username link
      description: |
        Authenticated endpoint. For the given encrypted username generates a username link handle.
        The username link handle can be used to lookup the encrypted username.
        An account can only have one username link at a time; this endpoint overwrites the previous encrypted username if there was one.
      operationId: updateUsernameLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EncryptedUsername"
        required: true
      responses:
        "200":
          description: Username Link updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsernameLinkHandle"
        "401":
          description: Account authentication check failed.
        "409":
          description: Username is not set for the account.
        "422":
          description: Invalid request format.
        "429":
          description: Ratelimited.
      security:
      - authenticatedAccount: []
    delete:
      tags:
      - Account
      summary: Delete username link
      description: |
        Authenticated endpoint. Deletes username link for the given account: previously store encrypted username is deleted
        and username link handle is deactivated.
      operationId: deleteUsernameLink
      responses:
        "204":
          description: Username Link successfully deleted.
        "401":
          description: Account authentication check failed.
        "429":
          description: Ratelimited.
      security:
      - authenticatedAccount: []
  /v1/accounts/username_hash/{usernameHash}:
    get:
      tags:
      - Account
      summary: Lookup username hash
      description: |
        Forced unauthenticated endpoint. For the given username hash, look up a user ID.
      operationId: lookupUsernameHash
      parameters:
      - name: usernameHash
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Account found for the given username.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountIdentifierResponse"
        "400":
          description: Request must not be authenticated.
        "404":
          description: Account not found for the given username.
      security:
      - authenticatedAccount: []
      - {}
  /v1/accounts/username_link/{uuid}:
    get:
      tags:
      - Account
      summary: Lookup username link
      description: |
        Enforced unauthenticated endpoint. For the given username link handle, looks up the database for an associated encrypted username.
        If found, encrypted username is returned, otherwise responds with 404 Not Found.
      operationId: lookupUsernameLink
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Username link with the given handle was found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EncryptedUsername"
        "400":
          description: Request must not be authenticated.
        "404":
          description: Username link was not found for the given handle.
        "422":
          description: Invalid request format.
        "429":
          description: Ratelimited.
      security:
      - authenticatedAccount: []
      - {}
  /v1/accounts/registration_lock:
    put:
      tags:
      - Account
      operationId: setRegistrationLock
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/RegistrationLock"
        required: true
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - authenticatedAccount: []
    delete:
      tags:
      - Account
      operationId: removeRegistrationLock
      responses:
        default:
          description: default response
          content:
            '*/*': {}
      security:
      - authenticatedAccount: []
  /v1/accounts/username_hash/reserve:
    put:
      tags:
      - Account
      summary: Reserve username hash
      description: |
        Authenticated endpoint. Takes in a list of hashes of potential username hashes, finds one that is not taken,
        and reserves it for the current account.
      operationId: reserveUsernameHash
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReserveUsernameHashRequest"
        required: true
      responses:
        "200":
          description: Username hash reserved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReserveUsernameHashResponse"
        "401":
          description: Account authentication check failed.
        "409":
          description: All username hashes from the list are taken.
        "422":
          description: Invalid request format.
        "429":
          description: Ratelimited.
      security:
      - authenticatedAccount: []
  /v1/accounts/attributes:
    put:
      tags:
      - Account
      operationId: setAccountAttributes
      parameters:
      - name: X-Signal-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountAttributes"
        required: true
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - authenticatedAccount: []
  /v1/accounts/name:
    put:
      tags:
      - Account
      summary: Set a device's encrypted name
      description: |
        Sets the encrypted name for the specified device. Primary devices may change the name of any device associated
        with their account, but linked devices may only change their own name. If no device ID is specified, then the
        authenticated device's ID will be used.
      operationId: setName
      parameters:
      - name: deviceId
        in: query
        schema:
          type: string
          description: "The ID of the device for which to set a name; if omitted,\
            \ the authenticated device will be targeted for a name change"
          format: byte
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/DeviceName"
        required: true
      responses:
        "204":
          description: Device name changed successfully
        "404":
          description: No device found with the given ID
        "403":
          description: Not authorized to change the name of the device with the given
            ID
      security:
      - authenticatedAccount: []
  /v1/accounts/whoami:
    get:
      tags:
      - Account
      operationId: whoAmI
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountIdentityResponse"
      security:
      - authenticatedAccount: []
  /v2/accounts/number:
    put:
      tags:
      - Account
      summary: Change number
      description: Changes a phone number for an existing account.
      operationId: changeNumber
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeNumberRequest"
        required: true
      responses:
        "200":
          description: The phone number associated with the authenticated account
            was changed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountIdentityResponse"
        "401":
          description: Account authentication check failed.
        "403":
          description: Verification failed for the provided Registration Recovery
            Password
        "409":
          description: Mismatched number of devices or device ids in 'devices to notify'
            list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MismatchedDevicesResponse"
        "410":
          description: Mismatched registration ids in 'devices to notify' list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StaleDevicesResponse"
        "413":
          description: One or more device messages was too large
        "422":
          description: The request did not pass validation
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationLockFailure"
        "429":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
      security:
      - authenticatedAccount: []
  /v2/accounts/phone_number_identity_key_distribution:
    put:
      tags:
      - Account
      summary: Set phone-number identity keys
      description: Updates key material for the phone-number identity for all devices
        and sends a synchronization message to companion devices
      operationId: distributePhoneNumberIdentityKeys
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PhoneNumberIdentityKeyDistributionRequest"
        required: true
      responses:
        "200":
          description: Indicates the transaction was successful and returns basic
            information about this account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountIdentityResponse"
        "401":
          description: Account authentication check failed.
        "403":
          description: This endpoint can only be invoked from the account's primary
            device.
        "422":
          description: The request body failed validation.
      deprecated: true
      security:
      - authenticatedAccount: []
  /v2/accounts/data_report:
    get:
      tags:
      - Account
      summary: Produces a report of non-ephemeral account data stored by the service
      operationId: getAccountDataReport
      responses:
        "200":
          description: Response with data report. A plain text representation is a
            field in the response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDataReportResponse"
      security:
      - authenticatedAccount: []
  /v2/accounts/phone_number_discoverability:
    put:
      tags:
      - Account
      summary: Sets whether the account should be discoverable by phone number in
        the directory.
      operationId: setPhoneNumberDiscoverability
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PhoneNumberDiscoverabilityRequest"
        required: true
      responses:
        "204":
          description: The setting was successfully updated.
      security:
      - authenticatedAccount: []
  /v1/archives/upload/form:
    get:
      tags:
      - Archive
      summary: Fetch message backup upload form
      description: Retrieve an upload form that can be used to perform a resumable
        upload of a message backup.
      operationId: backup
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      - name: uploadLength
        in: query
        description: The size of the message backup to upload in bytes
        schema:
          type: integer
          format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadDescriptorResponse"
        "429":
          description: Rate limited.
        "413":
          description: The provided uploadLength is larger than the maximum supported
            upload size. The maximum upload size is subject to change.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
  /v1/archives:
    get:
      tags:
      - Archive
      summary: Fetch backup info
      description: Retrieve information about the currently stored backup
      operationId: backupInfo
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupInfoResponse"
        "404":
          description: No existing backups found
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
    post:
      tags:
      - Archive
      summary: Refresh backup
      description: |
        Indicate that this backup is still active. Clients must periodically upload new backups or perform a refresh
        via a POST request. If a backup is not refreshed, after 30 days it may be deleted.
      operationId: refresh
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The backup was successfully refreshed
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
    delete:
      tags:
      - Archive
      summary: Delete entire backup
      description: |
        Delete all backup metadata, objects, and stored public key. To use backups again, a public key must be resupplied.
      operationId: deleteBackup
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      responses:
        "204":
          description: The backup has been successfully removed
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
  /v1/archives/backupid/limits:
    get:
      tags:
      - Archive
      summary: Retrieve limits
      description: |
        Determine whether the backup-id can currently be rotated
      operationId: checkLimits
      responses:
        "200":
          description: Successfully retrieved backup-id rotation limits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupIdLimitResponse"
        "403":
          description: Invalid account authentication
      security:
      - authenticatedAccount: []
  /v1/archives/media/batch:
    put:
      tags:
      - Archive
      summary: Batched backup media
      description: |
        Copy and re-encrypt media from the attachments cdn into the backup cdn.

        The original already encrypted attachment will be encrypted with the provided key material before being copied

        If the batch request is processed at all, a 207 will be returned and the outcome of each constituent copy will
        be provided as a separate entry in the response.
      operationId: copyMedia
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyMediaBatchRequest"
        required: true
      responses:
        "207":
          description: |
            The request was processed and each operation's outcome must be inspected individually. This does NOT necessarily
            indicate the operation was a success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyMediaBatchResponse"
        "413":
          description: All media capacity has been consumed. Free some space to continue.
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
  /v1/archives/media:
    get:
      tags:
      - Archive
      summary: List media objects
      description: |
        Retrieve a list of media objects stored for this backup-id. A client may have previously stored media objects
        that are no longer referenced in their current backup. To reclaim storage space used by these orphaned
        objects, perform a list operation and remove any unreferenced media objects via DELETE /v1/backups/<mediaId>.
      operationId: listMedia
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: A cursor returned by a previous call
        schema:
          type: string
      - name: limit
        in: query
        description: The number of entries to return per call
        schema:
          type: integer
          format: int32
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResponse"
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
      security:
      - authenticatedAccount: []
      - {}
    put:
      tags:
      - Archive
      summary: Backup media
      description: |
        Copy and re-encrypt media from the attachments cdn into the backup cdn.

        The original, already encrypted, attachment will be encrypted with the provided key material before being copied.

        A particular destination media id should not be reused with a different source media id or different encryption
        parameters.
      operationId: copyMedia_1
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyMediaRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CopyMediaResponse"
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
        "413":
          description: All media capacity has been consumed. Free some space to continue.
        "410":
          description: The source object was not found.
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
      security:
      - authenticatedAccount: []
      - {}
  /v1/archives/media/delete:
    post:
      tags:
      - Archive
      summary: Delete media objects
      description: Delete media objects stored with this backup-id
      operationId: deleteMedia
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/DeleteMedia"
        required: true
      responses:
        "204":
          description: The provided objects were successfully deleted or they do not
            exist
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
  /v1/archives/auth:
    get:
      tags:
      - Archive
      summary: 'Fetch ZK credentials '
      description: |
        After setting a blinded backup-id with PUT /v1/archives/, this fetches credentials that can be used to perform
        operations against that backup-id. Clients may (and should) request up to 7 days of credentials at a time.

        The redemptionStart and redemptionEnd seconds must be UTC day aligned, and must not span more than 7 days.

        Each credential contains a receipt level which indicates the backup level the credential is good for. If the
        account has paid backup access that expires at some point in the provided redemption window, credentials with
        redemption times after the expiration may be on a lower backup level.

        Clients must validate the receipt level on the credential matches a known receipt level before using it.
      operationId: getBackupZKCredentials
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: redemptionStartSeconds
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: redemptionEndSeconds
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupAuthCredentialsResponse"
        "400":
          description: The start/end did not meet alignment/duration requirements
        "404":
          description: Could not find an existing blinded backup id
        "429":
          description: Rate limited.
      security:
      - authenticatedAccount: []
  /v1/archives/auth/read:
    get:
      tags:
      - Archive
      summary: Get CDN read credentials
      description: Retrieve credentials used to read objects stored on the backup
        cdn
      operationId: readAuth
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      - name: cdn
        in: query
        description: The number of the CDN to get credentials for
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadAuthResponse"
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
  /v1/archives/redeem-receipt:
    post:
      tags:
      - Archive
      summary: Redeem receipt
      description: |
        Redeem a receipt acquired from /v1/subscription/{subscriberId}/receipt_credentials to mark the account as
        eligible for the paid backup tier.

        After successful redemption, subsequent requests to /v1/archive/auth will return credentials with the level on
        the provided receipt until the expiration time on the receipt.

        Accounts must have an existing backup credential request in order to redeem a receipt. This request will fail
        if the account has not already set a backup credential request via PUT `/v1/archives/backupid`.
      operationId: redeemReceipt
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RedeemBackupReceiptRequest"
        required: true
      responses:
        "204":
          description: The receipt was redeemed
        "400":
          description: The provided presentation or receipt was invalid
        "409":
          description: The target account does not have a backup-id commitment
        "429":
          description: Rate limited.
      security:
      - authenticatedAccount: []
  /v1/archives/backupid:
    put:
      tags:
      - Archive
      summary: Set backup id
      description: |
        Set (blinded) backup-id(s) for the account. Each account may have a single active backup-id for each
        credential type that can be used to store and retrieve backups. Once the backup-id is set,
        BackupAuthCredentials can be generated using /v1/archives/auth.

        The blinded backup-id and the key-pair used to blind it should be derived from a recoverable secret.

        At least one of `messagesBackupAuthCredentialRequest`, `mediaBackupAuthCredentialRequest` must be set.
      operationId: setBackupId
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetBackupIdRequest"
        required: true
      responses:
        "204":
          description: The backup-id was set
        "400":
          description: The provided backup auth credential request was invalid
        "403":
          description: The device did not have permission to set the backup-id. Only
            the primary device can set the backup-id for an account
        "429":
          description: Rate limited. Too many attempts to change the backup-id have
            been made
      security:
      - authenticatedAccount: []
  /v1/archives/keys:
    put:
      tags:
      - Archive
      summary: Set public key
      description: |
        Permanently set the public key of an ED25519 key-pair for the backup-id. All requests that provide a anonymous
        BackupAuthCredentialPresentation (including this one!) must also sign the presentation with the private key
        corresponding to the provided public key.
      operationId: setPublicKey
      parameters:
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetPublicKeyRequest"
        required: true
      responses:
        "204":
          description: The public key was set
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
  /v1/archives/auth/svrb:
    get:
      tags:
      - Archive
      summary: Generate credentials for SVRB
      description: |
        Generate SVRB service credentials. Generated credentials have an expiration time of 1 day (subject to change)
      operationId: svrbAuth
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      responses:
        "200":
          description: '`JSON` with generated credentials.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalServiceCredentials"
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
  /v1/archives/media/upload/form:
    get:
      tags:
      - Archive
      summary: Fetch media attachment upload form
      description: |
        Retrieve an upload form that can be used to perform a resumable upload of an attachment. After uploading, the
        attachment can be copied into the backup at PUT /archives/media/.

        Like the account authenticated version at /attachments, the uploaded object is only temporary.
      operationId: uploadTemporaryAttachment
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: X-Signal-ZK-Auth
        in: header
        description: "Presentation of a ZK backup auth credential acquired from /v1/archives/auth,\
          \ encoded in standard padded base64"
        required: true
        schema:
          type: string
      - name: X-Signal-ZK-Auth-Signature
        in: header
        description: "Signature of the ZK auth credential's presentation, encoded\
          \ in standard padded base64"
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadDescriptorResponse"
        "429":
          description: Rate limited.
        "403":
          description: Forbidden. The request had insufficient permissions to perform
            the requested action
        "401":
          description: |-
            The provided backup auth credential presentation could not be verified or
            The public key signature was invalid or
            There is no backup associated with the backup-id in the presentation or
            The credential was of the wrong type (messages/media)
        "400":
          description: Bad arguments. The request may have been made on an authenticated
            channel
      security:
      - authenticatedAccount: []
      - {}
  /v4/attachments/form/upload:
    get:
      tags:
      - Attachments
      summary: Get an upload form
      description: |
        Retrieve an upload form that can be used to perform a resumable upload. The response will include a cdn number
        indicating what protocol should be used to perform the upload.
      operationId: getAttachmentUploadForm
      responses:
        "200":
          description: "Success, response body includes upload form"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentDescriptorV3"
        "413":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
        "429":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
      security:
      - authenticatedAccount: []
  /v1/call-link/create-auth:
    post:
      tags:
      - CallLink
      summary: Generate a credential for creating call links
      description: |
        Generate a credential over a truncated timestamp, room ID, and account UUID. With zero knowledge
        group infrastructure, the server does not know the room ID.
      operationId: getCreateAuth
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/GetCreateCallLinkCredentialsRequest"
        required: true
      responses:
        "200":
          description: '`JSON` with generated credentials.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCallLinkCredential"
        "400":
          description: Invalid create call link credential request.
        "401":
          description: Account authentication check failed.
        "422":
          description: Invalid request format.
        "429":
          description: Ratelimited.
      security:
      - authenticatedAccount: []
  /v1/call_quality_survey:
    put:
      tags:
      - Call quality survey
      summary: Submit survey response
      description: Submits a call quality survey response
      operationId: submitCallQualitySurvey
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        description: A serialized survey response protobuf entity
        content:
          application/octet-stream:
            schema:
              type: string
              format: byte
      responses:
        "204":
          description: The survey response was submitted successfully
        "422":
          description: The survey response could not be parsed
        "429":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
      security:
      - authenticatedAccount: []
      - {}
  /v2/calling/relays:
    get:
      tags:
      - Calling
      summary: Get 1:1 calling relay options for the client
      description: |
        Get 1:1 relay addresses in IpV4, Ipv6, and URL formats.
      operationId: getCallingRelays
      responses:
        "200":
          description: '`JSON` with call endpoints.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCallingRelaysResponse"
        "400":
          description: Invalid get call endpoint request.
        "401":
          description: Account authentication check failed.
        "422":
          description: Invalid request format.
        "429":
          description: Rate limited.
      security:
      - authenticatedAccount: []
  /v1/certificate/delivery:
    get:
      tags:
      - Certificate
      operationId: getDeliveryCertificate
      parameters:
      - name: includeE164
        in: query
        schema:
          type: boolean
          default: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryCertificate"
      security:
      - authenticatedAccount: []
  /v1/certificate/auth/group:
    get:
      tags:
      - Certificate
      operationId: getGroupAuthenticationCredentials
      parameters:
      - name: redemptionStartSeconds
        in: query
        schema:
          type: integer
          format: int64
      - name: redemptionEndSeconds
        in: query
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupCredentials"
      security:
      - authenticatedAccount: []
  /v1/challenge:
    put:
      tags:
      - Challenge
      summary: Submit proof of a challenge completion
      description: |
        Some server endpoints (the "send message" endpoint, for example) may return a 428 response indicating the client must complete a challenge before continuing.
        Clients may use this endpoint to provide proof of a completed challenge. If successful, the client may then
        continue their original operation.
      operationId: handleChallengeResponse
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/AnswerPushChallengeRequest"
              - $ref: "#/components/schemas/AnswerCaptchaChallengeRequest"
      responses:
        "200":
          description: Indicates the challenge proof was accepted
        "400":
          description: The request was invalid
        "428":
          description: Submitted captcha token was not accepted
        "429":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
      security:
      - authenticatedAccount: []
  /v1/challenge/push:
    post:
      tags:
      - Challenge
      summary: Request a push challenge
      description: |
        Clients may proactively request a push challenge by making an empty POST request. Push challenges will only be
        sent to the requesting account’s main device. When the push is received it may be provided as proof of completed
        challenge to /v1/challenge.
        APNs challenge payloads will be formatted as follows:
        ```
        {
            "aps": {
                "sound": "default",
                "alert": {
                    "loc-key": "APN_Message"
                }
            },
            "rateLimitChallenge": "{CHALLENGE_TOKEN}"
        }
        ```
        FCM challenge payloads will be formatted as follows:
        ```
        {"rateLimitChallenge": "{CHALLENGE_TOKEN}"}
        ```

        Clients may retry the PUT in the event of an HTTP/5xx response (except HTTP/508) from the server, but must
        implement an exponential back-off system and limit the total number of retries.
      operationId: requestPushChallenge
      responses:
        "200":
          description: |
            Indicates a payload to the account's primary device has been attempted. When clients receive a challenge push
            notification, they may issue a PUT request to /v1/challenge.
        "404":
          description: |
            The server does not have a push notification token for the authenticated account’s main device; clients may add a push
            token and try again
        "413":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
        "429":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
      security:
      - authenticatedAccount: []
  /v1/devicecheck/assert:
    get:
      tags:
      - DeviceCheck
      summary: Fetch an assert challenge
      description: |
        Retrieve a challenge to use in an attestation, which must be provided at `POST /v1/devicecheck/assert`. To produce
        the `clientDataHash` for [generateAssertion](https://developer.apple.com/documentation/devicecheck/dcappattestservice/generateassertion(_:clientdatahash:completionhandler:)),
        construct the request you intend to `POST` and include the returned challenge as the "challenge"
        field. Serialize the request as JSON and take the SHA256 of the request, as described [here](https://developer.apple.com/documentation/devicecheck/establishing-your-app-s-integrity#Assert-your-apps-validity-as-necessary).
        Note that the JSON body provided to the PUT must exactly match the input to the `clientDataHash` (field order,
        whitespace, etc matters)

        Repeat calls to retrieve a challenge may return the same challenge until it is used in a `POST`. Callers should
        attempt to only have a single outstanding challenge at any given time.
      operationId: assertChallenge
      parameters:
      - name: action
        in: query
        schema:
          type: string
          description: The type of action you will make an assertion for
          enum:
          - backup
      responses:
        "200":
          description: The response body includes a challenge
        "429":
          description: Ratelimited.
      security:
      - authenticatedAccount: []
    post:
      tags:
      - DeviceCheck
      summary: Perform an attested action
      description: |
        Specify some action to take on the account via the request field. The request must exactly match the request you
        provide when [generating the assertion](https://developer.apple.com/documentation/devicecheck/dcappattestservice/generateassertion(_:clientdatahash:completionhandler:)).
        The request must include a challenge previously retrieved from `GET /v1/devicecheck/assert`.

        Each assertion increments the counter associated with the client's device key. This method enforces that no
        assertion with a counter lower than a counter we've already seen is allowed to execute. If a client issues
        multiple requests concurrently, or if they retry a request that had an indeterminate outcome, it's possible that
        the request will not be accepted because the server has already stored the updated counter. In this case the
        request may return 401, and the client should generate a fresh assert for the request.
      operationId: assertion
      parameters:
      - name: keyId
        in: query
        description: "The keyId, encoded with padded url-safe base64"
        required: true
        schema:
          type: string
      - name: request
        in: query
        description: |
          The asserted JSON request data, encoded as a string in padded url-safe base64. This must exactly match the
          request you use when generating the assertion (including field ordering, whitespace, etc).
        required: true
        schema:
          $ref: "#/components/schemas/AssertionRequest"
      requestBody:
        description: "The assertion created by [generateAssertion](https://developer.apple.com/documentation/devicecheck/dcappattestservice/generateassertion(_:clientdatahash:completionhandler:))"
        content:
          application/octet-stream:
            schema:
              type: string
              format: byte
      responses:
        "204":
          description: The assertion was valid and the corresponding action was executed
        "404":
          description: The provided keyId was not found
        "410":
          description: There was no challenge associated with the account. It may
            have expired.
        "401":
          description: The assertion could not be verified
      security:
      - authenticatedAccount: []
  /v1/devicecheck/attest:
    get:
      tags:
      - DeviceCheck
      summary: Fetch an attest challenge
      description: |
        Retrieve a challenge to use in an attestation, which should be provided at `PUT /v1/devicecheck/attest`. To
        produce the clientDataHash for [attestKey](https://developer.apple.com/documentation/devicecheck/dcappattestservice/attestkey(_:clientdatahash:completionhandler:))
        take the SHA256 of the UTF-8 bytes of the returned challenge.

        Repeat calls to retrieve a challenge may return the same challenge until it is used in a `PUT`. Callers should
        have a single outstanding challenge at any given time.
      operationId: attestChallenge
      responses:
        "200":
          description: The response body includes a challenge
        "429":
          description: Ratelimited.
      security:
      - authenticatedAccount: []
    put:
      tags:
      - DeviceCheck
      summary: Register a keyId
      description: |
        Register a keyId with an attestation, which can be used to generate assertions from this account.

        The attestation should use the SHA-256 of a challenge retrieved at `GET /v1/devicecheck/attest` as the
        `clientDataHash`

        Registration is idempotent, and you should retry network errors with the same challenge as suggested by [device
        check](https://developer.apple.com/documentation/devicecheck/dcappattestservice/attestkey(_:clientdatahash:completionhandler:)#discussion),
        as long as your challenge has not expired (410). Even if your challenge is expired, you may continue to retry with
        your original keyId (and a fresh challenge).
      operationId: attest
      parameters:
      - name: keyId
        in: query
        description: "The keyId, encoded with padded url-safe base64"
        required: true
        schema:
          type: string
      requestBody:
        description: "The attestation data, created by [attestKey](https://developer.apple.com/documentation/devicecheck/dcappattestservice/attestkey(_:clientdatahash:completionhandler:))"
        content:
          application/octet-stream:
            schema:
              type: string
              format: byte
      responses:
        "204":
          description: The keyId was successfully added to the account
        "410":
          description: There was no challenge associated with the account. It may
            have expired.
        "401":
          description: The attestation could not be verified
        "413":
          description: There are too many unique keyIds associated with this account.
            This is an unrecoverable error.
        "409":
          description: The provided keyId has already been registered to a different
            account
      security:
      - authenticatedAccount: []
  /v1/devices/provisioning/code:
    get:
      tags:
      - Devices
      summary: Generate a signed device-linking token
      description: |
        Generate a signed device-linking token for transmission to a pending linked device via a provisioning message.
      operationId: createDeviceToken
      responses:
        "200":
          description: Token was generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkDeviceToken"
        "411":
          description: The authenticated account already has the maximum allowed number
            of linked devices
        "429":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
      security:
      - authenticatedAccount: []
  /v1/devices:
    get:
      tags:
      - Devices
      operationId: getDevices
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceInfoList"
      security:
      - authenticatedAccount: []
  /v1/devices/link:
    put:
      tags:
      - Devices
      summary: Link a device to an account
      description: |
        Links a device to an account identified by a given phone number.
      operationId: linkDevice
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          $ref: "#/components/schemas/BasicAuthorizationHeader"
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkDeviceRequest"
        required: true
      responses:
        "200":
          description: The new device was linked to the calling account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkDeviceResponse"
        "403":
          description: The given account was not found or the given verification code
            was incorrect
        "409":
          description: The new device is missing a capability supported by all other
            devices on the account
        "411":
          description: The given account already has its maximum number of linked
            devices
        "422":
          description: The request did not pass validation
        "429":
          description: Too many attempts
          headers:
            Retry-After:
              description: "If present, an positive integer indicating the number\
                \ of seconds before a subsequent attempt could succeed"
              style: simple
  /v1/devices/restore_account/{token}:
    get:
      tags:
      - Devices
      summary: Wait for 'restore account' request
      operationId: waitForDeviceTransferRequest
      parameters:
      - name: token
        in: path
        required: true
        schema:
          maximum: 64
          maxLength: 64
          minLength: 0
          type: string
          description: A randomly-generated token identifying the request for device-to-device
            transfer.
      - name: timeout
        in: query
        schema:
          maximum: 3600
          minimum: 1
          type: integer
          description: |2
              The amount of time (in seconds) to wait for a response. If a transfer archive for the authenticated
              device is not available within the given amount of time, this endpoint will return a status of HTTP/204.
          format: int32
          default: 30
      responses:
        "200":
          description: A 'restore account' request was received for the given token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreAccountRequest"
        "204":
          description: No 'restore account' request for the given token was received
            before the call completed; clients may repeat the call to continue waiting
        "400":
          description: The given token or timeout was invalid
        "429":
          description: Rate-limited; try again after the prescribed delay
    put:
      tags:
      - Devices
      summary: Signals that a new device is requesting restoration of account data
        by some method
      description: |
        Signals that a new device is requesting restoration of account data by some method. Devices waiting via the
        "wait for 'restore account' request" endpoint will be notified that the request has been issued.
      operationId: recordRestoreAccountRequest
      parameters:
      - name: token
        in: path
        required: true
        schema:
          maximum: 64
          maxLength: 64
          minLength: 0
          type: string
          description: A randomly-generated token identifying the request for device-to-device
            transfer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreAccountRequest"
      responses:
        "204":
          description: Success
        "422":
          description: The request object could not be parsed or was otherwise invalid
        "429":
          description: Rate-limited; try again after the prescribed delay
  /v1/devices/transfer_archive:
    get:
      tags:
      - Devices
      summary: Wait for a new transfer archive to be uploaded
      description: |
        Waits for a new transfer archive to be uploaded for the authenticated device and returns the location of the
        archive when available.
      operationId: waitForTransferArchive
      parameters:
      - name: timeout
        in: query
        schema:
          maximum: 3600
          minimum: 1
          type: integer
          description: |2
              The amount of time (in seconds) to wait for a response. If a transfer archive for the authenticated
              device is not available within the given amount of time, this endpoint will return a status of HTTP/204.
          format: int32
          default: 30
      - name: User-Agent
        in: header
        schema:
          type: string
      responses:
        "200":
          description: "Either a new transfer archive was uploaded for the authenticated\
            \ device, or the upload has failed"
          content:
            application/json:
              schema:
                description: |
                  The location of the transfer archive if the archive was successfully uploaded, otherwise a error indicating that
                   the upload has failed and the destination device should stop waiting
                oneOf:
                - $ref: "#/components/schemas/RemoteAttachment"
                - $ref: "#/components/schemas/RemoteAttachmentError"
        "204":
          description: No transfer archive was uploaded before the call completed;
            clients may repeat the call to continue waiting
        "400":
          description: The given timeout was invalid
        "429":
          description: Rate-limited; try again after the prescribed delay
      security:
      - authenticatedAccount: []
    put:
      tags:
      - Devices
      summary: Signals that a transfer archive has been uploaded for a specific linked
        device
      description: |
        Signals that a transfer archive has been uploaded or failed for a specific linked device. Devices waiting via
        the "wait for transfer archive" endpoint will be notified that the new archive is available.

        If the uploader cannot upload the transfer archive, they must signal an error.
      operationId: recordTransferArchiveUploaded
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferArchiveUploadedRequest"
        required: true
      responses:
        "204":
          description: Success
        "422":
          description: The request object could not be parsed or was otherwise invalid
        "429":
          description: Rate-limited; try again after the prescribed delay
      security:
      - authenticatedAccount: []
  /v1/devices/{device_id}:
    delete:
      tags:
      - Devices
      operationId: removeDevice
      parameters:
      - name: device_id
        in: path
        required: true
        schema:
          type: string
          format: byte
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - authenticatedAccount: []
  /v1/devices/capabilities:
    put:
      tags:
      - Devices
      operationId: setCapabilities
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              additionalProperties:
                type: boolean
        required: true
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - authenticatedAccount: []
  /v1/devices/public_key:
    put:
      tags:
      - Devices
      summary: Sets a public key for authentication
      description: |
        Sets the authentication public key for the authenticated device. The public key will be used for
        authentication in the nascent gRPC-over-Noise API. Existing devices must upload a public key before they can
        use the gRPC-over-Noise API, and this endpoint exists to facilitate migration to the new API.
      operationId: setPublicKey_1
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/SetPublicKeyRequest"
      responses:
        "200":
          description: Public key stored successfully
        "401":
          description: Account authentication check failed
        "422":
          description: Invalid request format
      security:
      - authenticatedAccount: []
  /v1/devices/wait_for_linked_device/{tokenIdentifier}:
    get:
      tags:
      - Devices
      summary: Wait for a new device to be linked to an account
      description: |
        Waits for a new device to be linked to an account and returns basic information about the new device when
        available.
      operationId: waitForLinkedDevice
      parameters:
      - name: tokenIdentifier
        in: path
        required: true
        schema:
          maxLength: 64
          minLength: 32
          type: string
          description: A 'link device' token identifier provided by the 'create link
            device token' endpoint
      - name: timeout
        in: query
        schema:
          maximum: 3600
          minimum: 1
          type: integer
          description: |2
              The amount of time (in seconds) to wait for a response. If the expected device is not linked within the
              given amount of time, this endpoint will return a status of HTTP/204.
          format: int32
          default: 30
      - name: User-Agent
        in: header
        schema:
          type: string
      responses:
        "200":
          description: A device was linked to an account using the token associated
            with the given token identifier
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceInfo"
        "204":
          description: No device was linked to the account before the call completed;
            clients may repeat the call to continue waiting
        "400":
          description: The given token identifier or timeout was invalid
        "429":
          description: Rate-limited; try again after the prescribed delay
      security:
      - authenticatedAccount: []
  /v2/directory/auth:
    get:
      tags:
      - Directory
      summary: Generate credentials for Contact Discovery Service
      description: "Generate Contact Discovery Service credentials. Generated credentials\
        \ have an expiration time of 24 hours \n(however, the TTL is fully controlled\
        \ by the server and may change even for already generated credentials).\n"
      operationId: getAuthToken
      responses:
        "200":
          description: '`JSON` with generated credentials.'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalServiceCredentials"
      security:
      - authenticatedAccount: []
  /v1/donation/redeem-receipt:
    post:
      tags:
      - Donations
      summary: Redeem receipt
      description: |
        Redeem a receipt acquired from /v1/subscription/{subscriberId}/receipt_credentials to add a badge to the
        account. After successful redemption, profile responses will include the corresponding badge (if configured as
        visible) until the expiration time on the receipt.
      operationId: redeemReceipt_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RedeemReceiptRequest"
        required: true
      responses:
        "200":
          description: The receipt was redeemed
        "400":
          description: |
            The provided presentation or receipt was invalid, or the receipt was already redeemed for a different account. A
            specific error message suitable for logging will be included as text/plain body
        "429":
          description: Rate limited.
      security:
      - authenticatedAccount: []
  /v1/keepalive:
    get:
      tags:
      - Keep Alive
      operationId: getKeepAlive
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/WebSocketSessionContext"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
      security:
      - authenticatedAccount: []
      - {}
  /v1/keepalive/provisioning:
    get:
      tags:
      - Keep Alive
      operationId: getProvisioningKeepAlive
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /v1/key-transparency/distinguished:
    get:
      tags:
      - KeyTransparency
      summary: Get the current value of the distinguished key
      description: |
        The response contains the distinguished tree head to prove consistency
        against for future calls to `/search`, `/monitor`, and `/distinguished`.
        Enforced unauthenticated endpoint.
      operationId: getDistinguishedKey
      parameters:
      - name: lastTreeHeadSize
        in: query
        description: The distinguished tree head size returned by a previously verified
          call
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: The `distinguished` search key exists in the log
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyTransparencyDistinguishedKeyResponse"
        "400":
          description: Invalid request. See response for any available details.
        "422":
          description: Invalid request format
        "429":
          description: Rate-limited
      security:
      - authenticatedAccount: []
      - {}
  /v1/key-transparency/monitor:
    post:
      tags:
      - KeyTransparency
      summary: Monitor the given identifiers in the key transparency log
      description: |
        Return proofs proving that the log tree has been constructed correctly in later entries for each of the given
        identifiers. Enforced unauthenticated endpoint.
      operationId: monitor
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/KeyTransparencyMonitorRequest"
        required: true
      responses:
        "200":
          description: All identifiers exist in the log
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyTransparencyMonitorResponse"
        "400":
          description: Invalid request. See response for any available details.
        "403":
          description: One or more of the provided commitment indexes did not match
        "404":
          description: At least one identifier was not found
        "429":
          description: Rate-limited
        "422":
          description: Invalid request format
      security:
      - authenticatedAccount: []
      - {}
  /v1/key-transparency/search:
    post:
      tags:
      - KeyTransparency
      summary: Search for the given identifiers in the key transparency log
      description: |
        Returns a response if the ACI exists in the transparency log and its mapped value matches the provided
        ACI identity key.

        The username hash search response field is populated if it is found in the log and its mapped value matches
        the provided ACI. The E164 search response is populated similarly, with some additional requirements:
        - The account associated with the provided ACI must be discoverable by phone number.
        - The provided unidentified access key must match the one on the account.

        Enforced unauthenticated endpoint.
      operationId: search
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/KeyTransparencySearchRequest"
        required: true
      responses:
        "200":
          description: The ACI was found and its mapped value matched the provided
            ACI identity key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyTransparencySearchResponse"
        "400":
          description: Invalid request. See response for any available details.
        "403":
          description: |
            The ACI was found but its mapped value did not match the provided ACI identity key
            or the ACI was not found in the log.
        "422":
          description: Invalid request format
        "429":
          description: Rate-limited
      security:
      - authenticatedAccount: []
      - {}
  /v2/keys/check:
    post:
      tags:
      - Keys
      summary: Check keys
      description: |
        Checks that client and server have consistent views of repeated-use keys. For a given identity type, clients
        submit a digest of their repeated-use key material. The digest is calculated as:

        SHA256(identityKeyBytes || signedEcPreKeyId || signedEcPreKeyIdBytes || lastResortKeyId || lastResortKeyBytes)

        …where the elements of the hash are:

        - identityKeyBytes: the serialized form of the client's public identity key as produced by libsignal (i.e. one
          version byte followed by 32 bytes of key material for a total of 33 bytes)
        - signedEcPreKeyId: an 8-byte, big-endian representation of the ID of the client's signed EC pre-key
        - signedEcPreKeyBytes: the serialized form of the client's signed EC pre-key as produced by libsignal (i.e. one
          version byte followed by 32 bytes of key material for a total of 33 bytes)
        - lastResortKeyId: an 8-byte, big-endian representation of the ID of the client's last-resort Kyber key
        - lastResortKeyBytes: the serialized form of the client's last-resort Kyber key as produced by libsignal (i.e. one
          version byte followed by 1568 bytes of key material for a total of 1569 bytes)
      operationId: checkKeys
      responses:
        "200":
          description: Indicates that client and server have consistent views of repeated-use
            keys
        "401":
          description: Account authentication check failed
        "409":
          description: |2
              Indicates that client and server have inconsistent views of repeated-use keys or one or more repeated-use keys could
              not be found
        "422":
          description: Invalid request format
      security:
      - authenticatedAccount: []
  /v2/keys/{identifier}/{device_id}:
    get:
      tags:
      - Keys
      summary: Fetch public keys for another user
      description: Retrieves the public identity key and available device prekeys
        for a specified account or phone-number identity
      operationId: getDeviceKeys
      parameters:
      - name: Unidentified-Access-Key
        in: header
        schema:
          $ref: "#/components/schemas/Anonymous"
      - name: Group-Send-Token
        in: header
        schema:
          $ref: "#/components/schemas/GroupSendTokenHeader"
      - name: identifier
        in: path
        description: the account or phone-number identifier to retrieve keys for
        required: true
        schema:
          $ref: "#/components/schemas/ServiceIdentifier"
      - name: device_id
        in: path
        description: "the device id of a single device to retrieve prekeys for, or\
          \ `*` for all enabled devices"
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Indicates at least one prekey was available for at least one
            requested device.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreKeyResponse"
        "400":
          description: A group send endorsement and other authorization (account authentication
            or unidentified-access key) were both provided.
        "401":
          description: Account authentication check failed and unidentified-access
            key or group send endorsement token was not supplied or invalid.
        "404":
          description: Requested identity or device does not exist or device has no
            available prekeys.
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              description: "If present, a positive integer indicating the number of\
                \ seconds before a subsequent attempt could succeed"
              style: simple
      security:
      - authenticatedAccount: []
      - {}
  /v2/keys:
    get:
      tags:
      - Keys
      summary: Get prekey count
      description: Gets the number of one-time prekeys uploaded for this device and
        still available
      operationId: getStatus
      parameters:
      - name: identity
        in: query
        schema:
          type: string
          default: aci
          enum:
          - ACI
          - PNI
      responses:
        "200":
          description: Body contains the number of available one-time prekeys for
            the device.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreKeyCount"
        "401":
          description: Account authentication check failed.
      security:
      - authenticatedAccount: []
    put:
      tags:
      - Keys
      summary: Upload new prekeys
      description: Upload new pre-keys for this device.
      operationId: setKeys
      parameters:
      - name: identity
        in: query
        allowEmptyValue: true
        schema:
          type: string
          description: whether this operation applies to the account (aci) or phone-number
            (pni) identity
          default: aci
          enum:
          - ACI
          - PNI
          - aci
          - pni
      - name: User-Agent
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Indicates that new keys were successfully stored.
        "401":
          description: Account authentication check failed.
        "403":
          description: Attempt to change identity key from a non-primary device.
        "422":
          description: Invalid request format.
      security:
      - authenticatedAccount: []
  /v1/messages:
    get:
      tags:
      - Messages
      operationId: getPendingMessages
      parameters:
      - name: X-Signal-Receive-Stories
        in: header
        schema:
          type: string
      - name: User-Agent
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  completedExceptionally:
                    type: boolean
                  numberOfDependents:
                    type: integer
                    format: int32
                  done:
                    type: boolean
                  cancelled:
                    type: boolean
      security:
      - authenticatedAccount: []
  /v1/messages/report/{source}/{messageGuid}:
    post:
      tags:
      - Messages
      operationId: reportSpamMessage
      parameters:
      - name: source
        in: path
        required: true
        schema:
          type: string
      - name: messageGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpamReport"
      responses:
        default:
          description: default response
          content:
            '*/*': {}
      security:
      - authenticatedAccount: []
  /v1/messages/{destination}:
    put:
      tags:
      - Messages
      summary: Send a message
      description: |
        Deliver a message to a single recipient. May be authenticated or unauthenticated; if unauthenticated,
        an unidentifed-access key or group-send endorsement token must be provided, unless the message is a story.
      operationId: sendMessage
      parameters:
      - name: Unidentified-Access-Key
        in: header
        description: The recipient's unidentified access key
        schema:
          $ref: "#/components/schemas/Anonymous"
      - name: Group-Send-Token
        in: header
        description: A group send endorsement token covering the recipient. Must not
          be combined with `Unidentified-Access-Key` or set on a story message.
        schema:
          $ref: "#/components/schemas/GroupSendTokenHeader"
      - name: User-Agent
        in: header
        schema:
          type: string
      - name: destination
        in: path
        description: The recipient’s account or phone-number identifier
        required: true
        schema:
          $ref: "#/components/schemas/ServiceIdentifier"
      - name: story
        in: query
        description: "If true, the message is a story; access tokens are not checked\
          \ and sending to nonexistent recipients is permitted"
        schema:
          type: boolean
      requestBody:
        description: The encrypted message payloads for each recipient device
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncomingMessageList"
        required: true
      responses:
        "200":
          description: Message was successfully sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMessageResponse"
        "401":
          description: "The message is not a story and the authorization, unauthorized\
            \ access key, or group send endorsement token is missing or incorrect"
        "404":
          description: The message is not a story and some the recipient service ID
            does not correspond to a registered Signal user
        "409":
          description: Incorrect set of devices supplied for recipient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MismatchedDevicesResponse"
        "410":
          description: Mismatched registration ids supplied for some recipient devices
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StaleDevicesResponse"
        "428":
          description: The sender should complete a challenge before proceeding
      security:
      - authenticatedAccount: []
      - {}
  /v1/messages/multi_recipient:
    put:
      tags:
      - Messages
      summary: Send multi-recipient sealed-sender message
      description: |
        Deliver a common-payload message to multiple recipients.
        An unidentifed-access key for all recipients must be provided, unless the message is a story.
      operationId: sendMultiRecipientMessage
      parameters:
      - name: Unidentified-Access-Key
        in: header
        description: The bitwise xor of the unidentified access keys for every recipient
          of the message. Will be replaced with group send endorsements
        schema:
          $ref: "#/components/schemas/CombinedUnidentifiedSenderAccessKeys"
      - name: Group-Send-Token
        in: header
        description: A group send endorsement token covering recipients of this message.
          Must not be combined with `Unidentified-Access-Key` or set on a story message.
        schema:
          $ref: "#/components/schemas/GroupSendTokenHeader"
      - name: online
        in: query
        description: "If true, deliver the message only to recipients that are online\
          \ when it is sent"
        schema:
          type: boolean
      - name: ts
        in: query
        description: The sender's timestamp for the envelope
        schema:
          type: integer
          format: int64
      - name: urgent
        in: query
        description: "If true, this message should cause push notifications to be\
          \ sent to recipients"
        schema:
          type: boolean
          default: true
      - name: story
        in: query
        description: "If true, the message is a story; access tokens are not checked\
          \ and sending to nonexistent recipients is permitted"
        schema:
          type: boolean
      requestBody:
        description: The sealed-sender multi-recipient message payload as serialized
          by libsignal
        content:
          application/vnd.signal-messenger.mrm:
            schema:
              $ref: "#/components/schemas/SealedSenderMultiRecipientMessage"
        required: true
      responses:
        "200":
          description: Message was successfully sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendMultiRecipientMessageResponse"
        "400":
          description: The envelope specified delivery to the same recipient device
            multiple times
        "401":
          description: The message is not a story and the unauthorized access key
            or group send endorsement token is missing or incorrect
        "404":
          description: The message is not a story and some of the recipient service
            IDs do not correspond to registered Signal users
        "409":
          description: Incorrect set of devices supplied for some recipients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountMismatchedDevices"
        "410":
          description: Mismatched registration ids supplied for some recipient devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccountStaleDevices"
  /v1/subscription/boost/paypal/confirm:
    post:
      tags:
      - OneTimeDonations
      operationId: confirmPayPalBoost
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmPayPalBoostRequest"
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  completedExceptionally:
                    type: boolean
                  numberOfDependents:
                    type: integer
                    format: int32
                  done:
                    type: boolean
                  cancelled:
                    type: boolean
      security:
      - authenticatedAccount: []
      - {}
  /v1/subscription/boost/create:
    post:
      tags:
      - OneTimeDonations
      summary: Create a Stripe payment intent
      description: |
        Create a Stripe PaymentIntent and return a client secret that can be used to complete the payment.

        Once the payment is complete, the paymentIntentId can be used at /v1/subscriptions/receipt_credentials
      operationId: createBoostPaymentIntent
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBoostRequest"
        required: true
      responses:
        "200":
          description: Payment Intent created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBoostResponse"
        "403":
          description: The request was made on an authenticated channel
        "400":
          description: |
            Invalid argument. The response body may include an error code with more specific information. If the error code
            is `amount_below_currency_minimum` the body will also include the `minimum` field indicating the minimum amount
            for the currency. If the error code is `amount_above_sepa_limit` the body will also include the `maximum`
            field indicating the maximum amount for a SEPA transaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "409":
          description: Provided level does not match the currency/amount combination
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      security:
      - authenticatedAccount: []
      - {}
  /v1/subscription/boost/receipt_credentials:
    post:
      tags:
      - OneTimeDonations
      operationId: createBoostReceiptCredentials
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBoostReceiptCredentialsRequest"
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  completedExceptionally:
                    type: boolean
                  numberOfDependents:
                    type: integer
                    format: int32
                  done:
                    type: boolean
                  cancelled:
                    type: boolean
      security:
      - authenticatedAccount: []
      - {}
  /v1/subscription/boost/paypal/create:
    post:
      tags:
      - OneTimeDonations
      operationId: createPayPalBoost
      parameters:
      - name: User-Agent
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePayPalBoostRequest"
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: object
                properties:
                  completedExceptionally:
                    type: boolean
                  numberOfDependents:
                    type: integer
                    format: int32
                  done:
                    type: boolean
                  cancelled:
                    type: boolean
      security:
      - authenticatedAccount: []
      - {}
  /v1/payments/auth:
    get:
      tags:
      - Payments
      operationId: getAuth
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalServiceCredentials"
      security:
      - authenticatedAccount: []
  /v1/payments/conversions:
    get:
      tags:
      - Payments
      operationId: getConversions
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyConversionEntityList"
      security:
      - authenticatedAccount: []
  /v1/profile/{identifier}/{version}:
    get:
      tags:
      - Profile
      operationId: getProfile
      parameters:
      - name: Unidentified-Access-Key
        in: header
        schema:
          $ref: "#/components/schemas/Anonymous"
      - name: identifier
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/AciServiceIdentifier"
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: User-Agent
        in: header
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionedProfileResponse"
      security:
      - authenticatedAccount: []
      - {}
  /v1/profile/{identifier}/{version}/{credentialRequest}:
    get:
      tags:
      - Profile
      operationId: getProfile_1
      parameters:
      - name: Unidentified-Access-Key
        in: header
        schema:
          $ref: "#/components/schemas/Anonymous"
      - name: identifier
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/AciServiceIdentifier"
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: credentialRequest
        in: path
        required: true
        schema:
          type: string
      - name: credentialType
        in: query
        schema:
          type: string
      - name: User-Agent
        in: header
        schema:
          type: string
[...]
