name: Update Documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version-file: .java-version
          cache: 'maven'
      - name: Compile and Build OpenAPI file
        run: ./mvnw compile
      - name: Update Documentation
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cp -r api-doc/target/openapi/signal-server-openapi.yaml /tmp/
          git config user.email "github@signal.org"
          git config user.name "Documentation Updater"
          git fetch origin gh-pages
          git checkout gh-pages
          cp /tmp/signal-server-openapi.yaml .
          git diff --quiet || git commit -a -m "Updating documentation"
          git push origin gh-pages -q
